body{
	font-family: "Ubuntu-L", Helvetica, sans-serif;
	font-size: 16px;
	background-color: #FFFFFF;
}

h1{
	font-size: 1.6em;
	font-family: "Ubuntu-R", Verdana;
	text-align: center;
	text-shadow: 1px 0.5px 0px #FFF;
}

h3{
    font-family: "Ubuntu-M", Verdana;
	text-align: center;
	padding: 5px;
}

h4{
	padding: 7px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}
label{
	font-size: 1em;
	padding: 7px;
	display: inline-block;
	font-family: 'Ubuntu-R';
}
header{
	background-color: #8BC34A;
	width: 100%;
	height: 110px;
	display: flex;
	flex-direction: column;
}
header nav{
	width: 100%;
	height: 70px;
}

header .titulo{
	background-color: #F1F8E9;
	height: 40px;
	margin: auto;
	padding: 5px 30px 0px 30px;
	border-radius: 10px 10px 0px 0px;
}

section{
	width: 950px;
	height: auto;
	margin: 0 auto;
	background-color: #F1F8E9;
	border-left: 2px solid #FF9100;
	border-bottom: 2px solid #FF9100;
	border-right: 2px solid #FF9100;
	border-radius: 0px 0px 30px 30px;
}

section.contenido{
	padding: 15px;
	display: flex;
	justify-content: space-around;;
}
article{

}
section.contenido .article-1column{
	width: 97%;
	height: 600px;
	padding: 1%;
	text-align: center;
}
section.contenido .article-2columns{
	width: 47%;
	height: 600px;
	padding: 1%;
	text-align: center;
}
section.contenido .article-3-col{
	width: 32%;
	height: 600px;
	padding: 1%;
	text-align: center;
	z-index: 1;
}
section.contenido .article-37por{
	width: 37%;
	height: 600px;
	text-align: center;
}
section.contenido .article-23por{
	width: 23%;
	text-align: center;
	z-index: 1;
}
pre{
	color: #FFF;
	font-size: 0.8em;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 10px;
	font-family: monospace;
	text-align: left;
}
footer{
	width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
}
footer p{
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}

.border-radius-izq{
border-radius: 0px 0px 0px 30px;
}
.border-radius-der{
	border-radius: 0px 0px 30px 0px;
}
.code{
	 background-color: #1D1F21;
}

/*Listas*/
ul{
	text-align: left;
}

ul li{
	padding-left: 13px;
	margin: 5px 0px;
}

/*Barra de Progreso*/
.contenedor-progreso{
	height: 40px;
	background-color: #FFD180;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.barra-total{
	height: 10px;
	width: 100%;
	background-color: #FFAB40;
}

.barra-dinamica{
	height: 10px;
	width: 0%;
	background-color: #FF6D00;
}
